.about-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.about-body>div {
    width: 50%;
  
   
}
.header h2 {
    position: relative;
    font-size: 2rem;
    padding: 15px 30px;
}
.card{
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
h3{
    color: var(--accent-primary);
    font-size: 1.5rem;
}
.card div{
    margin-top: 15px;
}
.displyear{
    display: flex;
    justify-content: flex-start;
}
.displyear div{
    flex: 1;
}
.par{
    color: var(--secondary-text);
}
fa-icon{
    color: var(--accent-primary);
}
span{
    margin-left: 10px;
}