<div class="container">

    <div class="header">
        <section id="about">
            <h2 class="gradient-text">About <span class="gradient" style="margin-left: 3px;"> Me</span></h2>
        </section>
    </div>
    <div class="about-body">
        <div>
            <img src="https://images.pexels.com/photos/4974915/pexels-photo-4974915.jpeg?auto=compress&cs=tinysrgb&w=700"
                alt="image" />
        </div>
        <div>
            <div class="card">
                <div>
                    <h3>Angular Developer with a Passion for Building Web Applications</h3>
                </div>
                <div class="par">
                    I'm Vijay Amarnath, an Angular developer with a year of professional experience in creating
                    responsive and dynamic web
                    applications. I'm passionate about front-end development and constantly learning new technologies to
                    improve my skills.
                </div>
                <div class="par">
                    My journey in web development started with a strong foundation in HTML, CSS, and JavaScript. I then
                    specialized in
                    Angular, where I've gained expertise in building scalable and maintainable applications.
                </div>
                <div>
                    <div class="displyear">
                        <div>
                            <fa-icon [icon]="faBriefcase"></fa-icon>
                            <span>1 Year Experience</span>
                        </div>
                        <div>
                            <fa-icon [icon]="faAward"></fa-icon>
                            <span>5+ Projects Completed</span>
                        </div>
                    </div>
                    <div class="displyear">
                        <div>
                            <fa-icon [icon]="faCalendar"></fa-icon>
                            <span>Available for Hire</span>
                        </div>
                        <div>
                            <fa-icon [icon]="faGraduationCap"></fa-icon>
                            <span>Information Technology Graduate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>