<div class="container">

    <div class="header">
        <section id="skills">
            <h2 class="gradient-text">Technical <span class="gradient">Skills</span></h2>
        </section>
        <p>
            Through my experience with Angular development, I've gained proficiency in various technologies
            and tools. Here's an overview of my technical expertise.
        </p>
    </div>

    <div class="skills-cards">
        <div class="skill-card" *ngFor="let skill of skills" [matTooltip]="skill.name">
            <div class="skill-icon-wrap">
                <img [src]="skill.icon" [alt]="skill.name" />
            </div>
            <p class="skill-name">{{ skill.name }}</p>
        </div>
    </div>

</div>
