<div class="container">
    <div class="main">
        <div class="hero-container">
            <div class="hero-content">
                <h2 style="font-size: 3rem;">Hello, I'm <span class="header">Vijay Amarnath M V</span></h2>
                <h3 class="typewriter-text">
                    <span class="typing">Angular Developer • UI Enthusiast • Frontend Specialist</span>
                </h3>
                <p>
                    I’m a dedicated Angular developer with one year of experience creating responsive,
                    high-performance web applications. I enjoy building clean, interactive UIs that deliver a seamless
                    user
                    experience.
                </p>
                <div class="hero-buttons">
                    <button class="btn active">View Projects</button>
                    <button class="btn" style="margin-left: 10px;">Contact Me</button>
                </div>
                <div class="social">
                    <a [href]="userData.github">
                        <div>
                            <fa-icon [icon]="faGithub"></fa-icon>
                        </div>
                    </a>
                    <a [href]="userData.linkedin">
                        <div>
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </div>
                    </a>
                    <a [href]="userData.phone">
                        <div>
                            <fa-icon [icon]="faPhone"></fa-icon>
                        </div>
                    </a>
                    <a [href]="userData.email">
                        <div>
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="hero-image">

        </div>
    </div>
</div>