<div class="container">
    <div class="header">
        <h2 class="gradient-text">Featured <span class="gradient">Projects</span></h2>
        <div>
            <p>
                Here are some of my recent Angular projects. Each one presented unique challenges and learning<br>
                opportunities that helped
                me grow as a developer.
            </p>
        </div>
    </div>
    <div class="chip-container">
        <span class="custom-chip">All</span>
        <span class="custom-chip">Angular</span>
        <span class="custom-chip">TypeScript</span>
        <span class="custom-chip">Node.js</span>
    </div>
    <div class="card-content">
        <div class="project-card" *ngFor="let project of projects">
            <div class="project-image" [style.backgroundImage]="'url(' + project.image + ')'"></div>
            <div class="project-content">
                <h3>{{ project.title }}</h3>
                <div class="tech-tags">
                    <span class="tag" *ngFor="let tag of project?.technologies">{{ tag }}</span>
                </div>
                <p class="description" [matTooltip]="project.description">
                    {{ project.description }}
                </p>

                <div class="project-links">
                    <a [href]="project?.demoUrl" target="_blank">🔗 Live Demo</a>
                    <a [href]="project?.githubUrl" target="_blank">🛠 Source Code</a>
                </div>
            </div>
        </div>
    </div>

</div>