<nav style="width: 100%;box-sizing: border-box;">
    <div class="content">
        <div class="logo">
            Vijay Amarnath
        </div>
        <div class="nav-bar-list">
            <div>
                Home
            </div>
            <div>
                About
            </div>
            <div>
                Skills
            </div>
            <div>
                Projects
            </div>
            <div>
                Resume
            </div>
            <div>
                Contact
            </div>
            <div class="icon" (click)="toggleTheme()" [ngClass]="{ 'rotate-positive': animate === 'positive',
       'rotate-negative': animate === 'negative' }">
                <fa-icon [icon]="isDarkMode ? faMoon : faSun"
                    [ngStyle]="{ color: isDarkMode ? 'var(--accent-primary)' : 'inherit' }"></fa-icon>
            </div>
        </div>
    </div>
</nav>