.content{
display: flex;
justify-content: space-between;
align-items: flex-start;
}
.nav-bar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap:10px;
    padding: 20px;
}
.logo{
    font-size: var(--font-header-size);
    padding: 10px;
    font-weight: var(--font-header-weight);
    cursor: pointer;

}
.nav-bar-list div {
   cursor: pointer;
   
}