.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-background);
    padding: 15px 30px;
    box-sizing: border-box;
}

.logo {
    background: linear-gradient(to right, var(--accent-primary), var(--accent-hover));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--font-header-size);
    font-weight: var(--font-header-weight);
    cursor: pointer;
}

.nav-bar-list {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.nav-bar-list div {
    cursor: pointer;
    color: var(--primary-text);
    transition: color 0.3s;
}

.nav-bar-list div:hover {
    color: var(--accent-primary);
}
.icon{
    color:var(--accent-primary);
}
.rotate-positive {
    animation: rotatePositive 0.6s ease-in-out forwards;
}

.rotate-negative {
    animation: rotateNegative 0.6s ease-in-out forwards;
}

@keyframes rotatePositive {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateNegative {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    } }
    