<nav>
    <div class="content">
        <div class="logo">
            Vijay Amarnath
        </div>
        <div class="nav-bar-list">
            <div>
                Home
            </div>
            <div>
                About
            </div>
            <div>
                Skills
            </div>
            <div>
                Projects
            </div>
            <div>
                Resume
            </div>
            <div>
                Contact
            </div>
            <div>
                <button class="theme-toggle">🌗</button>
            </div>
        </div>
    </div>
</nav>