:root {
    --background-color: #F8F9FA;
    --primary-text: #212529;
    --secondary-text: #6C757D;
    --accent-primary: #6C2BD9;
    --accent-hover: #5824B5;
    --border-line: #E0E0E0;
    --card-background: #FFFFFF;
    --button-text: #FFFFFF;
    --font-size-body: 1rem;
    --font-header-size: 2rem;
    --font-header-weight: 900;
    --font-family-body: 'Outfit', sans-serif; 
--sub-heading-size:2.5rem;
--box-shadow:0 0 10px rgba(0, 0, 0, 0.1);}
    
        .dark-theme {
            --background-color: #121212;
            --primary-text: #EAEAEA;
            --secondary-text: #A0A0A0;
            --accent-primary: #8a4fff;
            --accent-hover: #D1B3FF;
            --border-line: #2C2C2C;
            --card-background: #1E1E1E;
            --button-text: #FFFFFF;
            --box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
        }
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-text);
    font-size: var(--font-size-body);
    font-family: var(--font-family-body) !important;
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    height: 100dvh;
    height: 100lvh;
    height: 100svh;
    transition: background-color 0.7s ease, color 0.7s ease;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
h2 {
    font-size: var(--sub-heading-size) !important;
}

.gradient {
    background: linear-gradient(to right,var(--accent-primary), var(--accent-hover));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.gradient-text {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-text);
     }
     .container{
        padding: 10px 35px;
     }


     @keyframes identifier {
        from{
opacity: 0;
clip-path: inset(100% 100% 0 0);
        }
        to{
opacity: 1;
clip-path: inset(0 0 0 0);
        }
     }
         @keyframes identifierleft {
             from {
                 opacity: 0;
                 clip-path: inset(100% 100% 0 0);
             }
    
             to {
                 opacity: 1;
                 clip-path: inset(0 0 0 0);
             }
         }