:root{
    --background-color:#F8F9FA;
    --primary-text:#212529;
    --secondary-text:#6C757D;
    --accent-primary:#DD0031;
    --accent-hover:#C3002F;
    --border-line:#E0E0E0;
    --card-background:#FFFFFF;
    --button-text:#FFFFFF;
}
.dark-theme {
    --background-color: #121212;
    --primary-text: #EAEAEA;
    --secondary-text: #A0A0A0;
    --accent-primary: #DD0031;
    --accent-hover: #FF4A4A;
    --border-line: #2C2C2C;
    --card-background: #1E1E1E;
    --button-text: #FFFFFF; 
}
